* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  height: 100vh;
}

.entire-container {
  height: 65vh;
  width: 22vw;
  border: 1px solid red;
}

new